<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post"
      th:action="@{/comments/{commentId}/modify/{taskId}(commentId=${comment.commentId}, taskId=${comment.taskId})}">
    내용:
    <br/>
    <textarea th:text="${comment.commentContent}" name="commentContent" rows="10" cols="50"></textarea>
    <input th:value="${comment.accountId}" name="accountId" hidden="hidden">
    <br/>
    <input type="submit" th:value="수정">
</form>
</body>
</html>
