<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<h1>Create Project</h1>
<form th:object="${project}" th:action="@{/project/create}" method="post">
    <!-- Input fields for project details -->
    <label><input type="text" th:value="${accountId}" hidden="hidden"/></label><br/>
    <label><input type="text" th:value="활동" hidden="hidden"></label><br/>

    <label>이름: <input type="text" th:field="*{projectName}"/></label><br/>
    <label>설명: <textarea th:field="*{projectExplain}"></textarea></label><br/>
    <div>
        <ul>
            <li th:each="account : ${accounts}">
                <label>
                    <input type="checkbox" th:name="projectMemberIdList" th:value="${account.id}"/>
                    <span th:text="${account.name}"></span>
                </label>
            </li>
        </ul>
    </div>
    <input type="submit" value="Create Project"/>
</form>
</body>
</html>
