<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<h1>Create Project</h1>
<form th:object="${project}" th:action="@{/project/create}" method="post">
    <!-- Input fields for project details -->
    <label><input type="text" th:value="${accountId}" hidden="hidden"/></label><br/>
    <label>이름: <input type="text" th:field="*{projectName}"/></label><br/>
    <label>상태: <input type="text" th:field="*{projectStatus}"/></label><br/>
    <label>설명: <textarea th:field="*{projectExplain}"></textarea></label><br/>

    <input type="submit" value="Create Project"/>
</form>
</body>
</html>
