<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/milestones">
    <span th:text="단계명"></span>: <input type="text" name="name"/><br/>
    <span th:text="시작일"></span>: <input type="date" name="startDate"/><br/>
    <span th:text="종료일"></span>: <input type="date" name="endDate"/><br/>
    <input type="text" name="projectId" th:value="${projectId}" hidden="hidden">
    <input type="submit">
</form>
</body>
</html>