<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
<h1>내 정보</h1>
<p th:text="'아이디: ' + ${accountInfo.id}"></p>
<p th:text="'이메일: ' + ${accountInfo.email}"></p>
<p th:text="'상태: ' + ${accountInfo.accountStatus}"></p>
<form method="post" action="/mypage">
    <input type="text" th:name="id" th:value="${accountInfo.id}" hidden="hidden">
    <span th:text="'상태 수정'"/>
    <select name="status">
        <option value="가입">가입</option>
        <option value="탈퇴">탈퇴</option>
        <option value="휴먼">휴먼</option>
    </select>
    <span>
    <input type="submit" th:value="수정"/>
    </span>
</form>
<a th:href="@{/myprojects}" th:text="'내 프로젝트'"></a>
</body>
<form method="get" action="/logout">
    <input type="submit" th:value="로그아웃">
</form>
</html>