<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MyProject</title>
</head>
<body>
<h1>프로젝트</h1>
<div>
    <a th:href="@{/project/create}">프로젝트 생성</a>
</div>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>프로젝트명</th>
            <th>상태</th>
            <th>부가설명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td>
                <a th:href="@{/project/{projectId}(projectId=${project.projectId})}"
                   th:text="'프로젝트명: ' + ${project.projectName}">
                </a>
            </td>
            <td th:text="'상태: ' + ${project.projectStatus}"></td>
            <td th:text="'부가설명: ' + ${project.projectExplain}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>