<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectDetail</title>
</head>
<body>
<h1 th:text="'프로젝트: ' + ${project.projectName}"></h1>
<p th:text="'상태: ' + ${project.projectStatus}"></p>
<p th:text="'관리자: ' + ${project.accountId}"></p>
<p th:text="'부가설명: ' + ${project.projectExplain}"></p>

<h2>Task</h2>
<span>
    <a th:href="@{/tasks/register/{projectId}(projectId=${project.projectId})}">업무 추가</a>
</span>
<table border="1">
    <thead>
    <tr>
        <th>업무명</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td>
            <a th:href="@{/{projectId}/tasks/{taskId}(projectId=${project.projectId}, taskId=${task.taskId})}"
               th:text="${task.taskTitle}"></a>
        </td>
        <td>
            <form method="post" th:action="@{/tasks/{taskId}/delete(taskId=${task.taskId})}">
                <input type="text" th:value="${projectId}" hidden="hidden">
                <input type="submit" th:value="삭제">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>

<h2>등록된 Milestones</h2>
<span>
    <a th:href="@{/milestones/register/{projectId}(projectId=${project.projectId})}">마일스톤 추가</a>
</span>
<table border="1">
    <thead>
    <tr>
        <th>마일스톤 이름</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="milestone : ${milestones}">
        <td>
            <a th:href="@{/milestones/{milestoneId}/modify(milestoneId=${milestone.milestoneId})}"
               th:text="${milestone.milestoneName}"></a>
        </td>
        <td>
            <form method="post" th:action="@{/milestones/{milestoneId}/delete(milestoneId=${milestone.milestoneId})}">
                <input type="text" th:value="${projectId}" hidden="hidden">
                <input type="submit" th:value="삭제">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>

<h2>등록된 Tags</h2>
<span>
    <a th:href="@{/tags/register/{projectId}(projectId=${project.projectId})}">태그 추가</a>
</span>
<table border="1">
    <thead>
    <tr>
        <th>마일스톤 이름</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${tags}">
        <td>
            <a th:href="@{/tags/{tagId}/modify(tagId=${tag.tagId})}"
               th:text="${tag.tagName}"></a>
        </td>
        <td>
            <form method="post" th:action="@{/tags/{tagId}/delete(tagId=${tag.tagId})}">
                <input type="text" th:value="${projectId}" hidden="hidden">
                <input type="submit" th:value="삭제">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>