<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/tags/register">
    태그명 : <input type="text" name="name">
    <label for="milestonDropdown">마일스톤 :</label>
    <select id="milestonDropdown" name="milestoneId" th:value="${milestones}">
        <option th:each="milestone : ${milestones}" th:value="${milestone.milestoneId}"
                th:text="${milestone.milestoneName}"></option>
    </select>
    <input type="text" name="projectId" hidden="hidden">
    <input type="submit" th:value="확인">
</form>
</body>
</html>